@media print {
    body {background-color: white;}
* {margin: 0;}
#header{display: none;}
th {display: none;}
.formstyle{border: 0px solid grey;background-image: none;}
#noprint{display: none;}
#footer{display: none;}
#front{background-image: url(../images/watermark.png);background-repeat: no-repeat;background-size:100% 100%;}
#main_container { box-shadow: none ;}
#jc {height: 500px;}
#onprint{display: block !important;}
}